.skills {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    color: white;
}

.skills h1 {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.skills h1 span {
    color: #1dc8a6;
}

.front-end, .back-end {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    margin: 40px auto;
}

.front-end {
    margin-bottom: 50px;
}

.skills h2 {
    color: white;
}


.card {
    width: 200px;
    height: 250px;
    border: 2px solid rgb(18, 20, 20);
    background-color: rgb(18, 20, 20);
    border-radius: 10px;
    box-shadow: whitesmoke 0px 0px 5px 0px;
}

.card img {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    display: flex;
}

.card p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.progress-bar {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
  }

  .pagination-buttons {
    display: flex;
    margin-top: 20px;
  }
  
  .pagination-buttons button {
    background-color: rgb(18, 20, 20);
    color: #1dc8a6;
    border: none;
    margin: 0 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .pagination-buttons button span {
    padding: 8px;
  }

  .current-page {
    text-align: center;
  }

@media screen and (max-width: 575px) {
    .card {
        width: 140px;
        height: 180px;
    }
    .card img {
        width: 60px;
        height: 60px;
    }
    .front-end, .back-end {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 20px auto;
    }    
}